configuration {
	modi: "drun,run,window";
	show-icons: true;
	icon-theme: "Papirus-Dark";
	font: "JetBrainsMono Nerd Font 11";
	display-drun: " Apps";
	display-run: " Run";
	display-window: " Windows";
	drun-display-format: "{name}";
}

@theme "theme"
