@import "themes/catppuccin-mocha.css";

* {
  background-color: @base;
  color: @text;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
}

#window {
  background-color: @base;
  margin-left: 10px;
}


.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

.hidden {
  opacity: 0;
}

tooltip {
  background-color: @surface0;
  border: 1px solid @surface1;
  border-radius: 4px;

  padding: 2px;
}

tooltip label {
  color: @text;
}

/* 
================================================
Workspaces 

For full config and styling options, check
https://man.archlinux.org/man/extra/waybar/waybar-hyprland-workspaces.5.en

Sometimes the styling needs to be applied to the label itself, for example:

#workspaces button.active {
  background-color: @maroon;
  color: @base;  <---- This may not apply in the way you are expecting
}
#workspaces button.active label {
  color: @base;  <---- This is needed to actually change the text color
}
*/

#workspaces button {
  all: initial;
  color: @text;
  border: none;
  border-radius: 0;
  min-height: 0;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}
#workspaces button.empty label {
  color: @text;
  opacity: 0.5;
}
#workspaces button.empty label {
  color: @text;
  opacity: 0.5;
}


/*
================================================
Modules
*/
#bluetooth,
#battery,
#power-profiles-daemon,
#network,
#pulseaudio,
#cpu,
#clock,
#custom-update {
  /* min-width: 10px; */
  margin: 0 10px;
}
/* Bluetooth seems to have odd margins compared to others */
#bluetooth {
  margin: 0 2px 0 10px;
}
#clock {
  margin-left: 8.75px;
}

#idle_inhibitor {
  padding: 0 5px 0 5px;
  color: @text;
  transition: color 0.15s ease;
}
/* #tray {
  margin-right: 16px;
}
*/
#custom-power {
  color: @text;
  min-width: 12px;
  margin: 0 8.5px 0 8px;
  /* margin: 0 8.5px 0 12px; */
}
#custom-power:hover {
  color: @red;
}

#battery.warning {
  color: @yellow;
}
#battery.critical {
  color: @red;
}
#battery.charging {
  color: @green;
}

#network.disconnected {
  color: @overlay0;
}
#bluetooth.disabled {
  color: @overlay0;
}
#pulseaudio.muted {
  color: @overlay0;
}


